<header class="header-post" role="banner">
    <div class="content">
        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}" class="date" style="font-family:Athiti;">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name" style="font-family:Prompt;">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle" style="font-family:Athiti;">{{ page.description }}</p>
    </div>
     <a class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
     {% include menu-search.html %}
</header>
